h1{
    color: brown;
   
   padding: 5px;
    margin: 5px;
   

}
.item1{
    width:300px;
    height:50px;
    margin:5px;
    background-color: rgb(245, 236, 238);

}
.item2{
    width:300px;
    height:50px;
    margin:5px;
    background-color: rgb(245, 236, 238);

}
.item3{
    width:300px;
    height:50px;
    margin:5px;
    background-color: rgb(245, 236, 238);

}
.item3{
    width:400px;
    height:50px;
    margin:5px;
    background-color: rgb(245, 236, 238);
    
}
body{margin-left:28% ;
    margin-right: 28%;
    margin-top: 0%;
    background-color: rgb(185, 174, 174);
}



form{
    background-color: rgb(139, 132, 132);
   
    
}




label{
    color: rgb(163, 46, 46);
     display: inline-block;
    margin-bottom: 10px;
    padding: 20px;
 
}

.ss{
    
    margin-left: 5%;
    margin-bottom: 5px;
    
    width: 500px;  
    height: 150px;
}
.ll{ position: center;
    background-color: rgb(49, 47, 47);
    margin-left:43%;


}
.in1{
    height: 25PX;
    width: 250px;
}
.la{
    margin: 60px;
}
span{ color:rgb(207, 56, 56);}

.item {
    width:250px;
    height:50px;
    margin:5px;
   
    
}
.flex-space-evenly {
    justify-content: space-evenly;
}
.flex {
    display: flex;
   
}
.center {
    justify-content: center;
}
.grow {
    flex-grow: 1;
}



